*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

/*navbar and footer*/

.navbar{
	background-color: #d8d8d8;
}

.navbar-brand{
	font-family: 'Anton', sans-serif;
}


.fa-facebook-square{
	color: #3b5998;
	font-size: 20px;
}

.fa-gitlab{
	color: #FC6D27;
	font-size: 20px;
}

.fa-instagram{
	color: #E4405F;
	font-size: 20px;
}

.fa-twitter{
	color: #1da1f2;
	font-size: 20px;
}

.foot{
	background-color: #D8D8D8;
	opacity: 80%;
	height: auto;
}



/*end of navbar and footer style*/

.card{
	width: 15rem;
	height: 360px;
}

.card img{
		height: 180px;
		width: auto;
}

.search-bar, .btn-search{
	border-radius: 50px;
}

@media only screen and (max-width: 376px){
	footer span{
		font-size: 50%;
	}

	.social-links{
		font-size: 10px;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 30px;
		width: 30px;
		outline: black;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
	}

	.carousel-inner img{
		max-width: 325px;
		max-height: 162px;
		margin: 0 auto;
	}

	.carousel{
		margin: 0 auto;
		/*border: 1px solid red;*/
		background-color: #000;
		opacity: 70%;
		width: 325px;
		height: 162px;
	}

	.carousel-caption{
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		font-size: 12px;
	}

	.card{
		margin: 1rem auto;
	}

	.card img{
		height: 200px;
		width: auto;
	}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 30px;
		width: 30px;
		outline: black;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
	}

	.carousel-inner img{
		max-width: 650px;
		max-height: 325px;
		margin: 0 auto;
	}

	.carousel{
		margin: 0 auto;
		/*border: 1px solid red;*/
		background-color: #000;
		opacity: 70%;
		width: 650px;
		height: 325px;
	}

	.carousel-caption{
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		font-size: 12px;
	}





@media only screen and (max-width: 576px){
	footer span{
		font-size: 50%;
	}

	.social-links{
		font-size: 10px;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 30px;
		width: 30px;
		outline: black;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
	}

	.carousel-inner img{
		max-width: 325px;
		max-height: 162px;
		margin: 0 auto;
	}

	.carousel{
		margin: 0 auto;
		/*border: 1px solid red;*/
		background-color: #000;
		opacity: 70%;
		width: 325px;
		height: 162px;
	}

	.carousel-caption{
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		font-size: 12px;
	}

	.card{
		margin: 1rem auto;
		height: 360px;
	}
}



}

@media only screen and (max-width: 768px){
	footer span{
		font-size: 75%;
	}

	footer{
		clear: both;
		position: relative;
		/*margin-top: 400px;*/
	}

	.social-links{
		font-size: 2rem;
	}

		.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 30px;
		width: 30px;
		outline: black;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
	}

	.carousel-inner img{
		max-width: 325px;
		max-height: 162px;
		margin: 0 auto;
	}

	.carousel{
		margin: 0 auto;
		/*border: 1px solid red;*/
		background-color: #000;
		opacity: 70%;
		width: 325px;
		height: 162px;
	}

	.carousel-caption{
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		font-size: 12px;
	}

	.card{
		margin: 1rem auto;
		height: 360px;
	}
}